@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: "EBold";
    src: url("/fonts/EurostileBold.ttf");
}
@font-face {
    font-family: "ENormal";
    src: url("/fonts/EuroStyleNormal.ttf");
}
@font-face {
    font-family: "EExtended";
    src: url("/fonts/EurostileExtended.ttf");
}
@font-face {
    font-family: "EOblique";
    src: url("/fonts/EurostileOblique.ttf");
}
html {
	scroll-behavior: smooth;
}
body {
	font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	background-color:#d8d7da;
	background-image: url(/imgs/noise.png);
	background-blend-mode: color-burn;
	background-size:auto;
	color:#656565;
	overflow: hidden;
	height:100vh;width:100vw;
	letter-spacing:2px;
	font-family: 'ENormal', sans-serif;
}
b{    font-family: "EBold";
}
p{
	line-height: 1.2;
	font-family: 'ENormal', sans-serif;
}
.light{color:#a1a1a1;}
h2, h3, h4, h5, h6{
	font-family: 'EBold', sans-serif;
	font-weight: bold;
	color:#656565;
}
h1{font-size:3rem;
	font-family: 'EBold', sans-serif;
	font-weight: 700;
	color:#4c4c4c;}
a {
	color: inherit;
	text-decoration: none;
	display: block;
    
}
a:hover{
	color:#4c4c4c;
}

label {
	display: block;
}


input:disabled {
}

button {
	color:#656565;
	border:2px solid transparent;
	padding:0rem .5rem;
	transition:all 0.2s ease;
	background:transparent;
	box-shadow:inset 2px 2px 2px  #ececec21, 2px 2px 2px #b3b3b333;
	border-radius:0.25rem;
}
button:hover {
	box-shadow: 2px 2px 2px  #ececec21, inset 2px 2px 2px #b3b3b333;
}
.swiper-pagination-bullet{
	background: #4d4fc8;
	opacity: 0.5;
}
  
	
  }